<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
        
            <li class="nav-item dropdown">
                <a asp-action="Index" asp-controller="Student">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý sinh viên</span>
                    
                </a>
              
            </li>
            <li class="nav-item dropdown">
                <a asp-action="Index" asp-controller="Course">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý môn học</span>
                   
                </a>
          
            </li>
            <li class="nav-item dropdown">
                <a asp-action="Index" asp-controller="Professor">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý giảng viên</span>
                 
                </a>
            
            </li>


        </ul>
    </div>
</div>